extends ../templates/default

block content
  div(class="container-fluid")
        div(class="row")
            div(class="col-md-2 col-sm-4 sidebar1")
                div(class="logo")
                    img(src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block" alt="Logo")
                br
                div(class="left-navigation")
                    ul(class="list")
                        h5 
                          strong= 'Servicios'
                        li='FTP'
                        li= 'Correo'
                        li= 'Banco'
                        li= 'Transacciones'

                    br

                    ul(class="list")
                        h5
                          strong= 'HOBBIES'
                        li= 'Hiking'
                        li= 'Rafting'
                        li= 'Badminton'
                        li= 'Tennis'
                        li= 'Sketching'
                        li= 'Horse Riding'
                    
               
            div(class="col-md-10 col-sm-8 main-content")
            <!--Main content code to be written here --> 
            h1='FEEDBACK APPRECIATED! :)'
            h3= 'P.S.: For side navbar with dropdown menu, you may refer this snippet: http://bootsnipp.com/user/snippets/kWPoW'
        
 